# FlashKidd SSH Manager default ports
SSH_PORT_PRIMARY="22"
SSH_PORT_SECONDARY="80"
SSH_TLS_PORT="443"
SQUID_PORTS="8080 3128 90"
V2RAY_VMESS_TCP="10086"
V2RAY_VMESS_WS="80"
V2RAY_VMESS_TLS="443"
V2RAY_VLESS_TLS="443"
OPENVPN_UDP="1194"
OPENVPN_TCP="443"
WIREGUARD_UDP="51820"
WEBSOCKET_SSH_PORTS="80 443"
